<a href="https://colab.research.google.com/github/SparshRastogi/Covid-19-Risk-Calculator/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
pip install py-polars

Collecting py-polars
  Downloading py-polars-0.8.10.tar.gz (1.6 kB)
Collecting polars==0.8.10
  Downloading polars-0.8.10-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 4.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from polars==0.8.10->py-polars) (1.19.5)
Collecting pyarrow==4.0.*
  Downloading pyarrow-4.0.1-cp37-cp37m-manylinux2014_x86_64.whl (21.8 MB)
     |████████████████████████████████| 21.8 MB 1.3 MB/s
Building wheels for collected packages: py-polars
  Building wheel for py-polars (setup.py) ... done
  Created wheel for py-polars: filename=py_polars-0.8.10-py3-none-any.whl size=2477 sha256=95615615b5620419be798ff2cbd23c43ceeb9e9c484f4f861df8685d289632b6
  Stored in directory: /root/.cache/pip/wheels/ad/de/fb/8a3696ed389eec6be738b2ad947159d8861ffad8d891c1c32d
Successfully built py-polars
Installing collected packages: pyarrow, polars, py-polars
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 3.0.0
    Uninstalling pyarrow-3.0.0:
      Successfully uninstalled pyarrow-3.0.0
Successfully installed polars-0.8.10 py-polars-0.8.10 pyarrow-4.0.1

In [ ]:
import pypolars as pl

WARNING!
py-polars was renamed to polars, please install polars!
https://pypi.org/project/polars/

In [ ]:
url = 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv'
df = pl.read_csv(url)

In [ ]:
url = 'https://data.cdc.gov/api/views/8xkx-amqh/rows.csv?'
df1 = pl.read_csv(url)

In [ ]:
df1

shape: (987886, 32)
╭───────────┬─────────┬───────────┬───────────┬─────┬───────────┬───────────┬───────────┬──────────╮
│ Date      ┆ FIPS    ┆ MMWR_week ┆ Recip_Cou ┆ ... ┆ Series_Co ┆ Series_Co ┆ Series_Co ┆ Series_C │
│ ---       ┆ ---     ┆ ---       ┆ nty       ┆     ┆ mplete_Po ┆ mplete_12 ┆ mplete_18 ┆ omplete_ │
│ str       ┆ str     ┆ i64       ┆ ---       ┆     ┆ p_Pct_UR_ ┆ PlusPop_P ┆ PlusPop_P ┆ 65PlusPo │
│           ┆         ┆           ┆ str       ┆     ┆ Equity    ┆ ct_UR_Equ ┆ ct_UR_Equ ┆ p_Pct_UR │
│           ┆         ┆           ┆           ┆     ┆ ---       ┆ ity       ┆ ity       ┆ _Equity  │
│           ┆         ┆           ┆           ┆     ┆ i64       ┆ ---       ┆ ---       ┆ ---      │
│           ┆         ┆           ┆           ┆     ┆           ┆ i64       ┆ i64       ┆ i64      │
╞═══════════╪═════════╪═══════════╪═══════════╪═════╪═══════════╪═══════════╪═══════════╪══════════╡
│ "10/09/20 ┆ "04025" ┆ 40        ┆ "Yavapai  ┆ ... ┆ 2         ┆ 3         ┆ 3         ┆ 3        │
│ 21"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "10/09/20 ┆ "21009" ┆ 40        ┆ "Barren   ┆ ... ┆ 7         ┆ 7         ┆ 8         ┆ 8        │
│ 21"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "10/09/20 ┆ "21007" ┆ 40        ┆ "Ballard  ┆ ... ┆ 6         ┆ 6         ┆ 6         ┆ 7        │
│ 21"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "10/09/20 ┆ "21091" ┆ 40        ┆ "Hancock  ┆ ... ┆ 4         ┆ 4         ┆ 4         ┆ 4        │
│ 21"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...       ┆ ...     ┆ ...       ┆ ...       ┆ ... ┆ ...       ┆ ...       ┆ ...       ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "12/13/20 ┆ "37199" ┆ 51        ┆ "Yancey   ┆ ... ┆ null      ┆ null      ┆ null      ┆ null     │
│ 20"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "12/13/20 ┆ "51183" ┆ 51        ┆ "Sussex   ┆ ... ┆ null      ┆ null      ┆ null      ┆ null     │
│ 20"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "12/13/20 ┆ "05115" ┆ 51        ┆ "Pope     ┆ ... ┆ null      ┆ null      ┆ null      ┆ null     │
│ 20"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "12/13/20 ┆ "37005" ┆ 51        ┆ "Alleghan ┆ ... ┆ null      ┆ null      ┆ null      ┆ null     │
│ 20"       ┆         ┆           ┆ y County" ┆     ┆           ┆           ┆           ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ "12/13/20 ┆ "05001" ┆ 51        ┆ "Arkansas ┆ ... ┆ null      ┆ null      ┆ null      ┆ null     │
│ 20"       ┆         ┆           ┆ County"   ┆     ┆           ┆           ┆           ┆          │
╰───────────┴─────────┴───────────┴───────────┴─────┴───────────┴───────────┴───────────┴──────────╯

In [ ]:
df = df.to_pandas()

In [ ]:
df1 = df1.to_pandas()

In [ ]:
df

        country_region_code  ... residential_percent_change_from_baseline
0                        AE  ...                                      1.0
1                        AE  ...                                      1.0
2                        AE  ...                                      1.0
3                        AE  ...                                      1.0
4                        AE  ...                                      1.0
...                     ...  ...                                      ...
7168445                  ZW  ...                                      NaN
7168446                  ZW  ...                                      NaN
7168447                  ZW  ...                                      NaN
7168448                  ZW  ...                                      NaN
7168449                  ZW  ...                                      NaN

[7168450 rows x 15 columns]

In [ ]:
df1

              Date  ... Series_Complete_65PlusPop_Pct_UR_Equity
0       10/09/2021  ...                                     3.0
1       10/09/2021  ...                                     8.0
2       10/09/2021  ...                                     7.0
3       10/09/2021  ...                                     4.0
4       10/09/2021  ...                                     8.0
...            ...  ...                                     ...
987881  12/13/2020  ...                                     NaN
987882  12/13/2020  ...                                     NaN
987883  12/13/2020  ...                                     NaN
987884  12/13/2020  ...                                     NaN
987885  12/13/2020  ...                                     NaN

[987886 rows x 32 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7168450 entries, 0 to 7168449
Data columns (total 15 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   country_region_code                                 object
 1   country_region                                      object
 2   sub_region_1                                        object
 3   sub_region_2                                        object
 4   metro_area                                          object
 5   iso_3166_2_code                                     object
 6   census_fips_code                                    float64
 7   place_id                                            object
 8   date                                                datetime64[ns]
 9   retail_and_recreation_percent_change_from_baseline  float64
 10  grocery_and_pharmacy_percent_change_from_baseline   float64
 11  parks_percent_change_from_baseline                  float64
 12  transit_stations_percent_change_from_baseline       float64
 13  workplaces_percent_change_from_baseline             float64
 14  residential_percent_change_from_baseline            float64
dtypes: datetime64[ns](1), float64(7), object(7)
memory usage: 820.4+ MB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987886 entries, 0 to 987885
Data columns (total 32 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Date                                     987886 non-null  object
 1   FIPS                                     987886 non-null  object
 2   MMWR_week                                987886 non-null  int64
 3   Recip_County                             987886 non-null  object
 4   Recip_State                              987886 non-null  object
 5   Series_Complete_Pop_Pct                  987886 non-null  float64
 6   Series_Complete_Yes                      987886 non-null  int64
 7   Series_Complete_12Plus                   974340 non-null  float64
 8   Series_Complete_12PlusPop_Pct            974340 non-null  float64
 9   Series_Complete_18Plus                   987886 non-null  int64
 10  Series_Complete_18PlusPop_Pct            987886 non-null  float64
 11  Series_Complete_65Plus                   987886 non-null  int64
 12  Series_Complete_65PlusPop_Pct            987886 non-null  float64
 13  Completeness_pct                         987886 non-null  float64
 14  Administered_Dose1_Recip                 956457 non-null  float64
 15  Administered_Dose1_Pop_Pct               987886 non-null  float64
 16  Administered_Dose1_Recip_12Plus          919377 non-null  float64
 17  Administered_Dose1_Recip_12PlusPop_Pct   974340 non-null  float64
 18  Administered_Dose1_Recip_18Plus          932746 non-null  float64
 19  Administered_Dose1_Recip_18PlusPop_Pct   987886 non-null  float64
 20  Administered_Dose1_Recip_65Plus          932746 non-null  float64
 21  Administered_Dose1_Recip_65PlusPop_Pct   987886 non-null  float64
 22  SVI_CTGY                                 987886 non-null  object
 23  Series_Complete_Pop_Pct_SVI              769598 non-null  float64
 24  Series_Complete_12PlusPop_Pct_SVI        757969 non-null  float64
 25  Series_Complete_18PlusPop_Pct_SVI        769598 non-null  float64
 26  Series_Complete_65PlusPop_Pct_SVI        769598 non-null  float64
 27  Metro_status                             987886 non-null  object
 28  Series_Complete_Pop_Pct_UR_Equity        768773 non-null  float64
 29  Series_Complete_12PlusPop_Pct_UR_Equity  757260 non-null  float64
 30  Series_Complete_18PlusPop_Pct_UR_Equity  768963 non-null  float64
 31  Series_Complete_65PlusPop_Pct_UR_Equity  768277 non-null  float64
dtypes: float64(22), int64(4), object(6)
memory usage: 241.2+ MB

In [ ]:
df.describe()

       census_fips_code  ...  residential_percent_change_from_baseline
count      1.506284e+06  ...                              4.307069e+06
mean       3.034741e+04  ...                              7.684866e+00
std        1.529662e+04  ...                              7.688157e+00
min        1.001000e+03  ...                             -7.100000e+01
25%        1.810500e+04  ...                              3.000000e+00
50%        2.911100e+04  ...                              7.000000e+00
75%        4.505100e+04  ...                              1.200000e+01
max        5.604500e+04  ...                              7.000000e+01

[8 rows x 7 columns]

In [ ]:
df1.describe()

           MMWR_week  ...  Series_Complete_65PlusPop_Pct_UR_Equity
count  987886.000000  ...                            768277.000000
mean       22.688029  ...                                 5.056577
std        13.721695  ...                                 2.253882
min         1.000000  ...                                 1.000000
25%        11.000000  ...                                 3.000000
50%        22.000000  ...                                 5.000000
75%        33.000000  ...                                 7.000000
max        53.000000  ...                                 8.000000

[8 rows x 26 columns]

In [ ]:
columns = df.columns

In [ ]:
df1.columns

Index(['Date', 'FIPS', 'MMWR_week', 'Recip_County', 'Recip_State',
       'Series_Complete_Pop_Pct', 'Series_Complete_Yes',
       'Series_Complete_12Plus', 'Series_Complete_12PlusPop_Pct',
       'Series_Complete_18Plus', 'Series_Complete_18PlusPop_Pct',
       'Series_Complete_65Plus', 'Series_Complete_65PlusPop_Pct',
       'Completeness_pct', 'Administered_Dose1_Recip',
       'Administered_Dose1_Pop_Pct', 'Administered_Dose1_Recip_12Plus',
       'Administered_Dose1_Recip_12PlusPop_Pct',
       'Administered_Dose1_Recip_18Plus',
       'Administered_Dose1_Recip_18PlusPop_Pct',
       'Administered_Dose1_Recip_65Plus',
       'Administered_Dose1_Recip_65PlusPop_Pct', 'SVI_CTGY',
       'Series_Complete_Pop_Pct_SVI', 'Series_Complete_12PlusPop_Pct_SVI',
       'Series_Complete_18PlusPop_Pct_SVI',
       'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status',
       'Series_Complete_Pop_Pct_UR_Equity',
       'Series_Complete_12PlusPop_Pct_UR_Equity',
       'Series_Complete_18PlusPop_Pct_UR_Equity',
       'Series_Complete_65PlusPop_Pct_UR_Equity'],
      dtype='object')

In [ ]:
usdata = df.loc[df['country_region'] == 'United States']

In [ ]:
usdata

        country_region_code  ... residential_percent_change_from_baseline
5561366                  US  ...                                     -1.0
5561367                  US  ...                                     -1.0
5561368                  US  ...                                      5.0
5561369                  US  ...                                      1.0
5561370                  US  ...                                      0.0
...                     ...  ...                                      ...
7098194                  US  ...                                      NaN
7098195                  US  ...                                      NaN
7098196                  US  ...                                      NaN
7098197                  US  ...                                      NaN
7098198                  US  ...                                      NaN

[1536833 rows x 15 columns]

In [ ]:
usdata['month'] = usdata['date'].dt.month
usdata['year'] = usdata['date'].dt.year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [ ]:
df1

             Date   FIPS  ...  Series_Complete_65PlusPop_Pct_UR_Equity       date
0      2021-10-09  04025  ...                                      3.0 2021-10-09
1      2021-10-09  21009  ...                                      8.0 2021-10-09
2      2021-10-09  21007  ...                                      7.0 2021-10-09
3      2021-10-09  21091  ...                                      4.0 2021-10-09
4      2021-10-09  46023  ...                                      8.0 2021-10-09
...           ...    ...  ...                                      ...        ...
987881 2020-12-13  37199  ...                                      NaN 2020-12-13
987882 2020-12-13  51183  ...                                      NaN 2020-12-13
987883 2020-12-13  05115  ...                                      NaN 2020-12-13
987884 2020-12-13  37005  ...                                      NaN 2020-12-13
987885 2020-12-13  05001  ...                                      NaN 2020-12-13

[987886 rows x 33 columns]

In [ ]:

df1['month'] = df1['Date'].dt.month
df1['year'] = df1['Date'].dt.year

In [ ]:
df1

             Date   FIPS  MMWR_week  ...       date month  year
0      2021-10-09  04025         40  ... 2021-10-09    10  2021
1      2021-10-09  21009         40  ... 2021-10-09    10  2021
2      2021-10-09  21007         40  ... 2021-10-09    10  2021
3      2021-10-09  21091         40  ... 2021-10-09    10  2021
4      2021-10-09  46023         40  ... 2021-10-09    10  2021
...           ...    ...        ...  ...        ...   ...   ...
987881 2020-12-13  37199         51  ... 2020-12-13    12  2020
987882 2020-12-13  51183         51  ... 2020-12-13    12  2020
987883 2020-12-13  05115         51  ... 2020-12-13    12  2020
987884 2020-12-13  37005         51  ... 2020-12-13    12  2020
987885 2020-12-13  05001         51  ... 2020-12-13    12  2020

[987886 rows x 35 columns]

In [ ]:
usdata

        country_region_code country_region  ... month  year
5561366                  US  United States  ...     2  2020
5561367                  US  United States  ...     2  2020
5561368                  US  United States  ...     2  2020
5561369                  US  United States  ...     2  2020
5561370                  US  United States  ...     2  2020
...                     ...            ...  ...   ...   ...
7098194                  US  United States  ...     9  2021
7098195                  US  United States  ...     9  2021
7098196                  US  United States  ...    10  2021
7098197                  US  United States  ...    10  2021
7098198                  US  United States  ...    10  2021

[1536833 rows x 17 columns]

In [ ]:
mobility2021 = pd.DataFrame(usdata.loc[usdata['year'] == 2021])

In [ ]:
mobility2021

        country_region_code country_region  ... month  year
5561687                  US  United States  ...     1  2021
5561688                  US  United States  ...     1  2021
5561689                  US  United States  ...     1  2021
5561690                  US  United States  ...     1  2021
5561691                  US  United States  ...     1  2021
...                     ...            ...  ...   ...   ...
7098194                  US  United States  ...     9  2021
7098195                  US  United States  ...     9  2021
7098196                  US  United States  ...    10  2021
7098197                  US  United States  ...    10  2021
7098198                  US  United States  ...    10  2021

[724768 rows x 17 columns]

In [ ]:
vaccinations2021 = pd.DataFrame(df1.loc[df1['year'] == 2021])

In [ ]:
vaccinations2021

             Date   FIPS  MMWR_week  ...       date month  year
0      2021-10-09  04025         40  ... 2021-10-09    10  2021
1      2021-10-09  21009         40  ... 2021-10-09    10  2021
2      2021-10-09  21007         40  ... 2021-10-09    10  2021
3      2021-10-09  21091         40  ... 2021-10-09    10  2021
4      2021-10-09  46023         40  ... 2021-10-09    10  2021
...           ...    ...        ...  ...        ...   ...   ...
925733 2021-01-01  34023         53  ... 2021-01-01     1  2021
925734 2021-01-01  28081         53  ... 2021-01-01     1  2021
925735 2021-01-01  50015         53  ... 2021-01-01     1  2021
925736 2021-01-01  17107         53  ... 2021-01-01     1  2021
925737 2021-01-01  13061         53  ... 2021-01-01     1  2021

[925738 rows x 35 columns]

In [ ]:
state = list(usdata['sub_region_1'].unique())

In [ ]:
state

['',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [ ]:
county = []

In [ ]:
county = list(usdata['census_fips_code'].unique())

In [ ]:
counties = list(df1['FIPS'].unique())

In [ ]:
counties

['02100',
 '01007',
 '26047',
 '48239',
 '05141',
 '20109',
 '36101',
 '29197',
 '16047',
 '02261',
 '55091',
 '27065',
 '05089',
 '39095',
 '40147',
 '54017',
 '45069',
 '49033',
 '20195',
 '72039',
 '29223',
 '42027',
 '08029',
 '20039',
 '40115',
 '46047',
 '13021',
 '49011',
 '20199',
 '05079',
 '29089',
 '34021',
 '48499',
 '28057',
 '13109',
 '05041',
 '29139',
 '47107',
 '48037',
 '39065',
 '55003',
 '27101',
 '29205',
 '23015',
 '40089',
 '51678',
 '40135',
 '16013',
 '31027',
 '21051',
 '19087',
 '40105',
 '46039',
 '42097',
 '48053',
 '26025',
 '72071',
 '34005',
 '48445',
 '39101',
 '01055',
 '47125',
 '49013',
 '01091',
 '13219',
 '48471',
 '46097',
 '54083',
 '30107',
 '26163',
 '28141',
 '26123',
 '13099',
 '20149',
 '72089',
 '27145',
 '18055',
 '47093',
 '21031',
 '51175',
 '32029',
 '28127',
 '36055',
 '19117',
 '17191',
 '13079',
 '30045',
 '37027',
 '31017',
 '48455',
 '55137',
 '31097',
 '46005',
 '40055',
 '13027',
 '29117',
 '54105',
 '46102',
 '29087',
 '48313',
 '48123',
 'UNK',
 '56037',
 '13321',
 '42067',
 '39155',
 '20083',
 '13231',
 '40021',
 '39031',
 '31031',
 '55073',
 '02070',
 '12125',
 '28113',
 '42069',
 '30019',
 '20203',
 '28101',
 '01127',
 '27111',
 '42053',
 '48387',
 '01123',
 '29039',
 '12043',
 '41069',
 '06111',
 '51005',
 '40087',
 '51067',
 '51125',
 '06075',
 '19115',
 '29219',
 '06041',
 '42043',
 '45085',
 '55065',
 '51045',
 '04021',
 '21003',
 '11001',
 '04027',
 '39057',
 '48381',
 '45063',
 '51079',
 '22085',
 '22033',
 '19163',
 '17071',
 '28135',
 '42093',
 '48165',
 '22003',
 '13055',
 '36041',
 '08101',
 '17063',
 '26091',
 '17013',
 '26075',
 '42001',
 '47167',
 '54079',
 '54021',
 '46079',
 '48195',
 '48429',
 '47131',
 '28153',
 '01029',
 '21175',
 '27019',
 '44003',
 '28093',
 '72075',
 '48287',
 '48159',
 '09013',
 '04001',
 '01021',
 '48483',
 '21219',
 '28035',
 '19135',
 '47129',
 '72143',
 '20113',
 '06105',
 '12077',
 '25009',
 '38003',
 '25017',
 '39011',
 '21011',
 '21073',
 '18085',
 '30077',
 '37057',
 '42009',
 '35033',
 '13303',
 '48505',
 '23025',
 '17101',
 '38065',
 '30003',
 '13127',
 '55121',
 '35039',
 '47177',
 '38041',
 '40099',
 '56033',
 '72013',
 '20163',
 '40131',
 '54013',
 '18011',
 '26109',
 '48385',
 '08009',
 '06055',
 '01061',
 '21057',
 '51630',
 '19121',
 '26049',
 '20151',
 '30031',
 '01033',
 '48277',
 '49007',
 '55009',
 '18069',
 '38033',
 '21227',
 '28115',
 '29145',
 '17173',
 '30111',
 '09001',
 '40029',
 '54015',
 '22093',
 '48265',
 '36033',
 '13191',
 '20051',
 '02020',
 '16067',
 '16019',
 '41013',
 '34019',
 '40137',
 '17001',
 '04015',
 '30039',
 '26011',
 '05025',
 '13169',
 '28077',
 '28027',
 '37019',
 '39097',
 '13145',
 '44005',
 '38103',
 '51097',
 '48315',
 '50023',
 '13317',
 '02230',
 '29049',
 '21081',
 '21069',
 '48345',
 '39045',
 '28067',
 '41031',
 '19031',
 '19149',
 '18115',
 '36065',
 '20021',
 '56045',
 '46127',
 '01111',
 '05101',
 '02198',
 '08037',
 '13195',
 '31021',
 '36017',
 '21179',
 '21195',
 '28009',
 '48295',
 '18125',
 '20107',
 '46111',
 '47035',
 '08063',
 '18043',
 '39135',
 '24025',
 '37185',
 '21127',
 '56007',
 '27001',
 '21157',
 '48421',
 '29183',
 '22087',
 '27167',
 '21181',
 '28099',
 '18149',
 '31183',
 '18073',
 '24029',
 '18159',
 '51520',
 '29213',
 '56019',
 '30071',
 '26057',
 '36023',
 '18079',
 '18133',
 '27079',
 '34001',
 '30055',
 '48149',
 '31009',
 '51141',
 '47157',
 '19197',
 '21225',
 '42077',
 '29147',
 '18061',
 '13221',
 '29171',
 '39025',
 '12005',
 '28065',
 '21185',
 '49009',
 '48257',
 '41059',
 '22089',
 '39111',
 '01117',
 '13139',
 '41029',
 '35043',
 '47025',
 '49019',
 '18009',
 '48303',
 '31171',
 '05003',
 '02130',
 '21123',
 '17135',
 '36025',
 '48189',
 '13059',
 '40015',
 '20047',
 '01109',
 '46013',
 '37135',
 '12039',
 '42025',
 '28133',
 '42057',
 '20087',
 '56031',
 '53033',
 '13313',
 '40097',
 '51680',
 '45051',
 '05039',
 '26063',
 '42047',
 '21201',
 '42039',
 '31091',
 '18091',
 '02275',
 '22029',
 '06005',
 '21197',
 '20197',
 '34007',
 '42123',
 '19189',
 '29051',
 '49035',
 '41011',
 '36003',
 '48105',
 '36079',
 '40041',
 '31149',
 '47023',
 '28059',
 '26043',
 '72049',
 '13025',
 '27137',
 '19051',
 '10001',
 '18001',
 '17201',
 '48311',
 '29167',
 '13013',
 '29159',
 '19147',
 '48493',
 '13083',
 '40101',
 '39053',
 '12027',
 '20185',
 '31167',
 '21121',
 '38043',
 '13123',
 '16027',
 '36011',
 '38007',
 '47113',
 '39099',
 '13287',
 '05033',
 '18143',
 '48077',
 '48389',
 '72033',
 '45015',
 '21117',
 '48321',
 '31145',
 '12123',
 '01035',
 '20025',
 '47065',
 '50009',
 '36049',
 '53039',
 '24023',
 '13135',
 '30025',
 '39039',
 '37029',
 '38021',
 '25021',
 '29001',
 '27149',
 '17085',
 '06085',
 '36007',
 '78010',
 '13247',
 '42127',
 '54065',
 '39073',
 '48323',
 '48327',
 '34037',
 '22055',
 '01027',
 '22101',
 '27095',
 '28119',
 '72005',
 '27075',
 '37099',
 '27047',
 '35025',
 '72073',
 '42011',
 '13199',
 '01105',
 '01043',
 '17133',
 '35049',
 '26107',
 '13155',
 '19063',
 '27115',
 '35017',
 '05087',
 '72127',
 '19049',
 '35037',
 '72147',
 '45087',
 '06059',
 '19059',
 '17153',
 '21147',
 '09009',
 '21063',
 '21091',
 '31143',
 '26097',
 '17187',
 '05029',
 '51059',
 '38009',
 '24033',
 '32007',
 '31175',
 '28039',
 '39093',
 '53009',
 '01069',
 '26015',
 '30103',
 '19139',
 '48247',
 '12037',
 '72051',
 '08057',
 '13019',
 '46129',
 '28087',
 '26067',
 '46019',
 '27129',
 '48337',
 '12115',
 '45047',
 '12021',
 '42089',
 '20059',
 '27119',
 '40007',
 '48507',
 '01101',
 '01077',
 '12033',
 '72081',
 '06063',
 '19011',
 '48087',
 '48479',
 '39005',
 '02016',
 '48183',
 '40009',
 '39173',
 '27133',
 '06011',
 '40075',
 '53025',
 '42095',
 '27153',
 '48209',
 '45037',
 '39075',
 '26121',
 '54089',
 '05129',
 '02050',
 '38053',
 '30053',
 '21199',
 '51131',
 '31011',
 '25003',
 '16085',
 '38077',
 '36119',
 '01003',
 '06003',
 '45041',
 '48357',
 '36109',
 '21133',
 '39027',
 '19091',
 '21101',
 '18013',
 '30015',
 '32510',
 '45003',
 '13073',
 '17177',
 '46105',
 '32011',
 '12075',
 '13157',
 '55097',
 '31007',
 '55131',
 '13141',
 '09007',
 '37197',
 '31157',
 '12011',
 '55089',
 '01131',
 '16017',
 '39049',
 '40151',
 '01081',
 '47069',
 '40005',
 '56043',
 '23029',
 '38061',
 '29011',
 '28003',
 '13119',
 '20139',
 '46075',
 '13029',
 '31127',
 '04005',
 '13315',
 '51810',
 '19019',
 '21131',
 '47101',
 '54027',
 '48433',
 '72023',
 '56003',
 '51193',
 '06033',
 '48501',
 '21191',
 '55117',
 '36087',
 '47153',
 '31051',
 '12089',
 '18163',
 '31071',
 '04011',
 '48163',
 '20015',
 '19037',
 '32033',
 '48191',
 '51153',
 '37055',
 '37107',
 '05083',
 '05107',
 '21115',
 '24017',
 '26093',
 '13305',
 '55133',
 '55078',
 '26141',
 '31093',
 '54077',
 '27037',
 '47175',
 '16033',
 '28005',
 '38045',
 '13263',
 '17103',
 '19181',
 '19187',
 '20091',
 '20011',
 '47185',
 '34011',
 '37085',
 '12086',
 '21053',
 '26081',
 '15009',
 '12001',
 '25001',
 '48443',
 '55055',
 '01005',
 '37145',
 '36037',
 '48367',
 '40119',
 '18083',
 '35007',
 '17035',
 '45007',
 '21017',
 '08075',
 '37037',
 '45005',
 '18119',
 '16073',
 '53003',
 '31069',
 '17077',
 '48399',
 '27045',
 '72125',
 '37073',
 '39015',
 '47033',
 '27027',
 '01119',
 '48261',
 '19021',
 '39091',
 '46061',
 '51720',
 '51135',
 '28117',
 '05051',
 '28103',
 '29113',
 '55001',
 '22119',
 '37117',
 '42031',
 '54053',
 '05001',
 '27121',
 '10005',
 '19047',
 '51740',
 '28071',
 '54057',
 '01065',
 '05117',
 '51660',
 '40123',
 '08059',
 '18117',
 '47151',
 '18113',
 '05143',
 '30095',
 '28131',
 '51750',
 '20123',
 '13249',
 '13151',
 '05057',
 '37015',
 '21019',
 '55029',
 '55077',
 '40143',
 '08065',
 '06109',
 '40013',
 '13163',
 '12107',
 '20013',
 '46121',
 '45083',
 '08083',
 '37167',
 '48251',
 '48481',
 '55057',
 '05071',
 '21141',
 '50017',
 '02060',
 '21083',
 '19119',
 '37103',
 '37067',
 '01037',
 '02090',
 '30027',
 '18177',
 '20169',
 '49057',
 '39141',
 '29065',
 '30061',
 '39119',
 '17175',
 '48439',
 '21005',
 '18155',
 '26039',
 '17121',
 '42007',
 '12065',
 '23019',
 '18127',
 '21027',
 '40107',
 '20111',
 '31057',
 '17183',
 '20137',
 '54051',
 '28151',
 '08069',
 '31151',
 '31047',
 '48225',
 '41019',
 '18057',
 '39055',
 '46041',
 '48413',
 '50005',
 '55075',
 '56025',
 '72093',
 '17043',
 '18081',
 '13001',
 '17037',
 '36071',
 '51119',
 '48033',
 '21109',
 '22077',
 '72137',
 '05115',
 '45089',
 '51115',
 '38001',
 '42035',
 '55021',
 '22109',
 '37061',
 '30001',
 '47117',
 '19185',
 '36035',
 '45045',
 '21189',
 '28037',
 '47155',
 '54029',
 '39007',
 '47031',
 '53013',
 '38085',
 '01107',
 '05091',
 '48425',
 '46015',
 '53077',
 '54003',
 '42071',
 '72045',
 '05053',
 '37193',
 '31123',
 '31045',
 '31085',
 '28045',
 '31179',
 '40031',
 '29059',
 '72097',
 '32001',
 '51083',
 '30029',
 '37097',
 '40063',
 '39051',
 '48217',
 '21149',
 '48415',
 '19069',
 '22059',
 '01071',
 '28159',
 '16025',
 '05063',
 '53015',
 '42129',
 '48207',
 '01121',
 '16049',
 '20031',
 '21209',
 '20167',
 '08123',
 '48319',
 '51179',
 '54035',
 '48197',
 '51127',
 '34023',
 '05135',
 '51191',
 '48117',
 '20177',
 '35055',
 '55115',
 '05099',
 '08011',
 '20143',
 '01103',
 '40011',
 '48457',
 '16057',
 '37045',
 '72135',
 '12113',
 '27035',
 '17021',
 '40093',
 '41051',
 '13037',
 '31025',
 '20193',
 '51025',
 '28063',
 '06071',
 '21239',
 '55119',
 '39109',
 '12095',
 '22107',
 '48081',
 '49021',
 '51037',
 '36097',
 '22041',
 '12111',
 '05015',
 '48411',
 '27029',
 '19073',
 '56009',
 '36117',
 '51157',
 '28053',
 '46119',
 '05085',
 '06077',
 '19183',
 '30013',
 '54093',
 '53001',
 '26127',
 '28021',
 '17117',
 '45067',
 '26157',
 '47137',
 '27031',
 '30007',
 '08035',
 '16083',
 '36005',
 '06009',
 '47007',
 '48437',
 '39069',
 '05097',
 '06035',
 '05145',
 '06067',
 '48329',
 '46035',
 '48009',
 '13035',
 '37119',
 '40141',
 '13285',
 '17147',
 '37095',
 '20065',
 '48011',
 '47119',
 '51137',
 '28007',
 '31067',
 '48093',
 '30081',
 '05133',
 '12099',
 '31185',
 '54101',
 '48335',
 '21231',
 '20187',
 '46051',
 '21095',
 '39041',
 '21001',
 '20023',
 ...]

In [ ]:
county

[nan,
 1001.0,
 1003.0,
 1005.0,
 1007.0,
 1009.0,
 1011.0,
 1013.0,
 1015.0,
 1017.0,
 1019.0,
 1021.0,
 1023.0,
 1025.0,
 1027.0,
 1029.0,
 1031.0,
 1033.0,
 1035.0,
 1037.0,
 1039.0,
 1041.0,
 1043.0,
 1045.0,
 1047.0,
 1049.0,
 1051.0,
 1053.0,
 1055.0,
 1057.0,
 1059.0,
 1061.0,
 1063.0,
 1065.0,
 1067.0,
 1069.0,
 1071.0,
 1073.0,
 1075.0,
 1077.0,
 1079.0,
 1081.0,
 1083.0,
 1085.0,
 1087.0,
 1089.0,
 1091.0,
 1093.0,
 1095.0,
 1097.0,
 1099.0,
 1101.0,
 1103.0,
 1105.0,
 1107.0,
 1109.0,
 1111.0,
 1113.0,
 1117.0,
 1115.0,
 1119.0,
 1121.0,
 1123.0,
 1125.0,
 1127.0,
 1129.0,
 1131.0,
 1133.0,
 2020.0,
 2050.0,
 2090.0,
 2110.0,
 2122.0,
 2130.0,
 2150.0,
 2170.0,
 2180.0,
 2185.0,
 2220.0,
 2240.0,
 2261.0,
 4001.0,
 4003.0,
 4005.0,
 4007.0,
 4009.0,
 4011.0,
 4012.0,
 4013.0,
 4015.0,
 4017.0,
 4019.0,
 4021.0,
 4023.0,
 4025.0,
 4027.0,
 5001.0,
 5003.0,
 5005.0,
 5007.0,
 5009.0,
 5011.0,
 5015.0,
 5017.0,
 5019.0,
 5021.0,
 5023.0,
 5025.0,
 5027.0,
 5029.0,
 5031.0,
 5033.0,
 5035.0,
 5037.0,
 5039.0,
 5041.0,
 5043.0,
 5045.0,
 5047.0,
 5049.0,
 5051.0,
 5053.0,
 5055.0,
 5057.0,
 5059.0,
 5061.0,
 5063.0,
 5065.0,
 5067.0,
 5069.0,
 5071.0,
 5073.0,
 5075.0,
 5077.0,
 5079.0,
 5081.0,
 5083.0,
 5085.0,
 5087.0,
 5089.0,
 5091.0,
 5093.0,
 5095.0,
 5097.0,
 5099.0,
 5101.0,
 5103.0,
 5105.0,
 5107.0,
 5109.0,
 5111.0,
 5113.0,
 5115.0,
 5117.0,
 5119.0,
 5121.0,
 5125.0,
 5127.0,
 5129.0,
 5131.0,
 5133.0,
 5135.0,
 5123.0,
 5137.0,
 5139.0,
 5141.0,
 5143.0,
 5145.0,
 5147.0,
 5149.0,
 6001.0,
 6005.0,
 6007.0,
 6009.0,
 6011.0,
 6013.0,
 6015.0,
 6017.0,
 6019.0,
 6021.0,
 6023.0,
 6025.0,
 6027.0,
 6029.0,
 6031.0,
 6033.0,
 6035.0,
 6037.0,
 6039.0,
 6041.0,
 6043.0,
 6045.0,
 6047.0,
 6049.0,
 6051.0,
 6053.0,
 6055.0,
 6057.0,
 6059.0,
 6061.0,
 6063.0,
 6065.0,
 6067.0,
 6069.0,
 6071.0,
 6073.0,
 6075.0,
 6077.0,
 6079.0,
 6081.0,
 6083.0,
 6085.0,
 6087.0,
 6089.0,
 6093.0,
 6095.0,
 6097.0,
 6099.0,
 6101.0,
 6103.0,
 6105.0,
 6107.0,
 6109.0,
 6111.0,
 6113.0,
 6115.0,
 8001.0,
 8003.0,
 8005.0,
 8007.0,
 8011.0,
 8013.0,
 8014.0,
 8015.0,
 8019.0,
 8021.0,
 8029.0,
 8031.0,
 8035.0,
 8037.0,
 8041.0,
 8039.0,
 8043.0,
 8045.0,
 8047.0,
 8049.0,
 8051.0,
 8055.0,
 8059.0,
 8061.0,
 8063.0,
 8067.0,
 8065.0,
 8069.0,
 8071.0,
 8073.0,
 8075.0,
 8077.0,
 8081.0,
 8083.0,
 8085.0,
 8087.0,
 8089.0,
 8091.0,
 8093.0,
 8095.0,
 8097.0,
 8099.0,
 8101.0,
 8103.0,
 8105.0,
 8107.0,
 8109.0,
 8113.0,
 8117.0,
 8119.0,
 8121.0,
 8123.0,
 8125.0,
 9001.0,
 9003.0,
 9005.0,
 9007.0,
 9009.0,
 9011.0,
 9013.0,
 9015.0,
 10001.0,
 10003.0,
 10005.0,
 11001.0,
 12001.0,
 12003.0,
 12005.0,
 12007.0,
 12009.0,
 12011.0,
 12013.0,
 12015.0,
 12017.0,
 12019.0,
 12021.0,
 12023.0,
 12027.0,
 12029.0,
 12031.0,
 12033.0,
 12035.0,
 12037.0,
 12039.0,
 12041.0,
 12043.0,
 12045.0,
 12047.0,
 12049.0,
 12051.0,
 12053.0,
 12055.0,
 12057.0,
 12059.0,
 12061.0,
 12063.0,
 12065.0,
 12067.0,
 12069.0,
 12071.0,
 12073.0,
 12075.0,
 12077.0,
 12079.0,
 12081.0,
 12083.0,
 12085.0,
 12086.0,
 12087.0,
 12089.0,
 12091.0,
 12093.0,
 12095.0,
 12097.0,
 12099.0,
 12101.0,
 12103.0,
 12105.0,
 12107.0,
 12113.0,
 12115.0,
 12117.0,
 12109.0,
 12111.0,
 12119.0,
 12121.0,
 12123.0,
 12125.0,
 12127.0,
 12129.0,
 12131.0,
 12133.0,
 13001.0,
 13003.0,
 13005.0,
 13009.0,
 13011.0,
 13013.0,
 13015.0,
 13017.0,
 13019.0,
 13021.0,
 13023.0,
 13025.0,
 13027.0,
 13029.0,
 13031.0,
 13033.0,
 13035.0,
 13039.0,
 13043.0,
 13045.0,
 13047.0,
 13049.0,
 13051.0,
 13053.0,
 13055.0,
 13057.0,
 13059.0,
 13063.0,
 13065.0,
 13067.0,
 13069.0,
 13071.0,
 13073.0,
 13075.0,
 13077.0,
 13079.0,
 13081.0,
 13083.0,
 13085.0,
 13087.0,
 13089.0,
 13091.0,
 13093.0,
 13095.0,
 13097.0,
 13099.0,
 13103.0,
 13105.0,
 13107.0,
 13109.0,
 13111.0,
 13113.0,
 13115.0,
 13117.0,
 13119.0,
 13121.0,
 13123.0,
 13127.0,
 13129.0,
 13131.0,
 13133.0,
 13135.0,
 13137.0,
 13139.0,
 13141.0,
 13143.0,
 13145.0,
 13147.0,
 13149.0,
 13151.0,
 13153.0,
 13155.0,
 13157.0,
 13159.0,
 13161.0,
 13163.0,
 13165.0,
 13167.0,
 13169.0,
 13171.0,
 13173.0,
 13175.0,
 13177.0,
 13179.0,
 13181.0,
 13183.0,
 13185.0,
 13187.0,
 13193.0,
 13195.0,
 13197.0,
 13189.0,
 13191.0,
 13199.0,
 13201.0,
 13205.0,
 13207.0,
 13209.0,
 13211.0,
 13213.0,
 13215.0,
 13217.0,
 13219.0,
 13221.0,
 13223.0,
 13225.0,
 13227.0,
 13229.0,
 13231.0,
 13233.0,
 13235.0,
 13237.0,
 13241.0,
 13243.0,
 13245.0,
 13247.0,
 13249.0,
 13251.0,
 13253.0,
 13255.0,
 13257.0,
 13261.0,
 13263.0,
 13267.0,
 13269.0,
 13271.0,
 13273.0,
 13275.0,
 13277.0,
 13279.0,
 13281.0,
 13283.0,
 13285.0,
 13287.0,
 13289.0,
 13291.0,
 13293.0,
 13295.0,
 13297.0,
 13299.0,
 13301.0,
 13303.0,
 13305.0,
 13311.0,
 13313.0,
 13315.0,
 13317.0,
 13319.0,
 13321.0,
 15001.0,
 15003.0,
 15007.0,
 15009.0,
 16001.0,
 16005.0,
 16007.0,
 16009.0,
 16011.0,
 16013.0,
 16015.0,
 16017.0,
 16019.0,
 16021.0,
 16027.0,
 16029.0,
 16031.0,
 16035.0,
 16039.0,
 16041.0,
 16043.0,
 16045.0,
 16047.0,
 16049.0,
 16051.0,
 16053.0,
 16055.0,
 16057.0,
 16059.0,
 16063.0,
 16065.0,
 16067.0,
 16069.0,
 16071.0,
 16073.0,
 16075.0,
 16077.0,
 16079.0,
 16081.0,
 16083.0,
 16085.0,
 16087.0,
 17001.0,
 17003.0,
 17005.0,
 17007.0,
 17011.0,
 17015.0,
 17017.0,
 17019.0,
 17021.0,
 17023.0,
 17025.0,
 17027.0,
 17029.0,
 17031.0,
 17033.0,
 17035.0,
 17039.0,
 17037.0,
 17041.0,
 17043.0,
 17045.0,
 17047.0,
 17049.0,
 17051.0,
 17053.0,
 17055.0,
 17057.0,
 17059.0,
 17061.0,
 17063.0,
 17065.0,
 17067.0,
 17071.0,
 17073.0,
 17075.0,
 17077.0,
 17079.0,
 17081.0,
 17083.0,
 17085.0,
 17087.0,
 17089.0,
 17091.0,
 17093.0,
 17095.0,
 17097.0,
 17099.0,
 17101.0,
 17103.0,
 17105.0,
 17107.0,
 17115.0,
 17117.0,
 17119.0,
 17121.0,
 17123.0,
 17125.0,
 17127.0,
 17109.0,
 17111.0,
 17113.0,
 17129.0,
 17131.0,
 17133.0,
 17135.0,
 17137.0,
 17139.0,
 17141.0,
 17143.0,
 17145.0,
 17147.0,
 17149.0,
 17153.0,
 17155.0,
 17157.0,
 17159.0,
 17161.0,
 17165.0,
 17167.0,
 17169.0,
 17171.0,
 17173.0,
 17163.0,
 17175.0,
 17177.0,
 17179.0,
 17181.0,
 17183.0,
 17185.0,
 17187.0,
 17189.0,
 17191.0,
 17193.0,
 17195.0,
 17197.0,
 17199.0,
 17201.0,
 17203.0,
 18001.0,
 18003.0,
 18005.0,
 18007.0,
 18009.0,
 18011.0,
 18013.0,
 18015.0,
 18017.0,
 18019.0,
 18021.0,
 18023.0,
 18025.0,
 18027.0,
 18029.0,
 18031.0,
 18033.0,
 18035.0,
 18037.0,
 18039.0,
 18041.0,
 18043.0,
 18045.0,
 18047.0,
 18049.0,
 18051.0,
 18053.0,
 18055.0,
 18057.0,
 18059.0,
 18061.0,
 18063.0,
 18065.0,
 18067.0,
 18069.0,
 18071.0,
 18073.0,
 18075.0,
 18077.0,
 18079.0,
 18081.0,
 18083.0,
 18085.0,
 18087.0,
 18089.0,
 18091.0,
 18093.0,
 18095.0,
 18097.0,
 18099.0,
 18101.0,
 18103.0,
 18105.0,
 18107.0,
 18109.0,
 18111.0,
 18113.0,
 18115.0,
 18117.0,
 18119.0,
 18121.0,
 18123.0,
 18125.0,
 18127.0,
 18129.0,
 18131.0,
 18133.0,
 18135.0,
 18137.0,
 18139.0,
 18143.0,
 18145.0,
 18147.0,
 18141.0,
 18149.0,
 18151.0,
 18153.0,
 18155.0,
 18157.0,
 18159.0,
 18161.0,
 18163.0,
 18165.0,
 18167.0,
 18169.0,
 18171.0,
 18173.0,
 18175.0,
 18177.0,
 18179.0,
 18181.0,
 18183.0,
 19001.0,
 19005.0,
 19007.0,
 19009.0,
 19011.0,
 19013.0,
 19015.0,
 19017.0,
 19019.0,
 19021.0,
 19023.0,
 19025.0,
 19027.0,
 19029.0,
 19031.0,
 19033.0,
 19035.0,
 19037.0,
 19039.0,
 19041.0,
 19043.0,
 19045.0,
 19047.0,
 19049.0,
 19051.0,
 19053.0,
 19055.0,
 19057.0,
 19059.0,
 19061.0,
 19063.0,
 19065.0,
 19067.0,
 19069.0,
 19071.0,
 19073.0,
 19075.0,
 19077.0,
 19079.0,
 19081.0,
 19083.0,
 19085.0,
 19087.0,
 19089.0,
 19091.0,
 19093.0,
 19095.0,
 19097.0,
 19099.0,
 19101.0,
 19103.0,
 19105.0,
 19107.0,
 19109.0,
 19111.0,
 19113.0,
 19115.0,
 19117.0,
 19119.0,
 19121.0,
 19123.0,
 19125.0,
 19127.0,
 19129.0,
 19131.0,
 19133.0,
 19135.0,
 19137.0,
 19139.0,
 19141.0,
 19143.0,
 19145.0,
 19147.0,
 19149.0,
 19151.0,
 19153.0,
 19155.0,
 19157.0,
 19161.0,
 19163.0,
 19165.0,
 19167.0,
 19169.0,
 19171.0,
 19173.0,
 19175.0,
 19177.0,
 19179.0,
 19181.0,
 19183.0,
 19185.0,
 19187.0,
 19189.0,
 19191.0,
 19193.0,
 19195.0,
 19197.0,
 20001.0,
 20003.0,
 20005.0,
 20007.0,
 20009.0,
 20011.0,
 20013.0,
 20015.0,
 20021.0,
 20027.0,
 20029.0,
 20031.0,
 20035.0,
 20037.0,
 20041.0,
 20043.0,
 20045.0,
 20051.0,
 20053.0,
 20055.0,
 20057.0,
 20059.0,
 20061.0,
 20067.0,
 20069.0,
 20073.0,
 20077.0,
 20079.0,
 20085.0,
 20087.0,
 20091.0,
 20095.0,
 20099.0,
 20103.0,
 20107.0,
 20111.0,
 20115.0,
 20117.0,
 20113.0,
 20121.0,
 20123.0,
 20125.0,
 20127.0,
 20131.0,
 20133.0,
 20139.0,
 20143.0,
 20145.0,
 20149.0,
 20151.0,
 20155.0,
 20159.0,
 20161.0,
 20167.0,
 20169.0,
 20171.0,
 20173.0,
 20175.0,
 20177.0,
 20181.0,
 20189.0,
 20191.0,
 20193.0,
 20195.0,
 20197.0,
 20201.0,
 20205.0,
 20209.0,
 21001.0,
 21003.0,
 21005.0,
 21007.0,
 21009.0,
 21011.0,
 21013.0,
 21015.0,
 21017.0,
 21019.0,
 21021.0,
 21023.0,
 21025.0,
 21027.0,
 21029.0,
 21031.0,
 21033.0,
 21035.0,
 21037.0,
 21039.0,
 21041.0,
 21043.0,
 21045.0,
 21047.0,
 21049.0,
 21051.0,
 21053.0,
 21055.0,
 21059.0,
 21061.0,
 21065.0,
 21067.0,
 21069.0,
 21071.0,
 21073.0,
 21075.0,
 21077.0,
 21079.0,
 21081.0,
 21083.0,
 21085.0,
 21087.0,
 21089.0,
 21091.0,
 21093.0,
 21095.0,
 21097.0,
 21099.0,
 21101.0,
 21103.0,
 21107.0,
 21109.0,
 21111.0,
 21113.0,
 21115.0,
 21117.0,
 21119.0,
 21121.0,
 21123.0,
 21125.0,
 21127.0,
 21133.0,
 21135.0,
 21137.0,
 21139.0,
 21141.0,
 21143.0,
 21151.0,
 21155.0,
 21157.0,
 21161.0,
 21145.0,
 21147.0,
 21149.0,
 21163.0,
 21165.0,
 21167.0,
 21169.0,
 21171.0,
 21173.0,
 21175.0,
 21177.0,
 21179.0,
 21181.0,
 21183.0,
 21185.0,
 21187.0,
 21191.0,
 21193.0,
 21195.0,
 21197.0,
 21199.0,
 21203.0,
 21205.0,
 21207.0,
 21209.0,
 ...]

In [ ]:
len(county)

2839

In [ ]:
dfco = pd.DataFrame(columns = columns)

In [ ]:
dfco

Empty DataFrame
Columns: [country_region_code, country_region, sub_region_1, sub_region_2, metro_area, iso_3166_2_code, census_fips_code, place_id, date, retail_and_recreation_percent_change_from_baseline, grocery_and_pharmacy_percent_change_from_baseline, parks_percent_change_from_baseline, transit_stations_percent_change_from_baseline, workplaces_percent_change_from_baseline, residential_percent_change_from_baseline]
Index: []

In [ ]:
for i in county:    
     data = pd.DataFrame(usdata.loc[(usdata['census_fips_code'] == i) & (usdata['date'] > '2021-09-06') & (usdata['date']<'2021-09-14') & (usdata['date'] != '2021-09-12')])
     mobility = ['retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline','parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']
     mobility1 = ['census_fips_code','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline','parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']
     d = pd.DataFrame(usdata.loc[usdata['census_fips_code'] == i])
     d = d.drop((mobility),axis=1)
     d = d.drop_duplicates(subset = 'census_fips_code')
     da =pd.DataFrame(data[mobility1].mean())
     da = da.transpose()
     #o = [d,da]
     fd = pd.merge(d,da,on = 'census_fips_code')
     objs = [dfco,fd]
     dfco = pd.concat(objs,axis = 0)
     print(dfco)

Streaming output truncated to the last 5000 lines.

[2473 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 9.166667
0                   US  ...                                 7.000000
0                   US  ...                                      NaN

[2474 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                 9.166667
0                   US  ...                                 7.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.666667

[2475 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 9.166667
0                   US  ...                                 7.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.666667
0                   US  ...                                 2.833333

[2476 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 7.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.666667
0                   US  ...                                 2.833333
0                   US  ...                                      NaN

[2477 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                 3.666667
0                   US  ...                                 2.833333
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2478 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 3.666667
0                   US  ...                                 2.833333
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2479 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 2.833333
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2480 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2481 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.000000

[2482 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.000000
0                   US  ...                                 2.666667

[2483 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.000000
0                   US  ...                                 2.666667
0                   US  ...                                 2.200000

[2484 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                 1.000000
0                   US  ...                                 2.666667
0                   US  ...                                 2.200000
0                   US  ...                                 5.000000

[2485 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 1.000000
0                   US  ...                                 2.666667
0                   US  ...                                 2.200000
0                   US  ...                                 5.000000
0                   US  ...                                      NaN

[2486 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 2.666667
0                   US  ...                                 2.200000
0                   US  ...                                 5.000000
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2487 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 2.666667
0                   US  ...                                 2.200000
0                   US  ...                                 5.000000
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2487 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 2.200000
0                   US  ...                                 5.000000
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2488 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 5.000000
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.333333

[2489 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.333333
0                   US  ...                                      NaN

[2490 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 1.333333
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2491 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                 1.333333
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2492 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                 1.333333
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN

[2493 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 5.000000

[2494 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000
0                   US  ...                                      NaN
0                   US  ...                                 3.500000
..                 ...  ...                                      ...
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                      NaN
0                   US  ...                                 5.000000
0                   US  ...                                      NaN

[2495 rows x 15 columns]
   country_region_code  ... residential_percent_change_from_baseline
0                   US  ...                                 4.000000
0                   US  ...                                 2.166667
0                   US  ...                                 4.000000

In [ ]:
dfco1 = pd.DataFrame (columns = df1.columns)

In [ ]:
dfco1

Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []

In [ ]:

for i in counties:    
     data = pd.DataFrame(df1.loc[(df1['FIPS'] == i) & (df1['Date'] > '2021-09-05') & (df1['Date']<'2021-09-14')])
     mobility = ['retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline','parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']
     mobility1 = ['census_fips_code','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline','parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']
    # d = pd.DataFrame(usdata.loc[usdata['census_fips_code'] == i])
    # d = d.drop((mobility),axis=1)
     #d = d.drop_duplicates(subset = 'census_fips_code')
     #da =pd.DataFrame(data[mobility1].mean())
     #da = da.transpose()
     #o = [d,da]
    # fd = pd.merge(d,da,on = 'census_fips_code')
     objs = [dfco1,data]
     dfco1 = pd.concat(objs,axis = 0)
     print(dfco1)

Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI, Metro_status, Series_Complete_Pop_Pct_UR_Equity, Series_Complete_12PlusPop_Pct_UR_Equity, Series_Complete_18PlusPop_Pct_UR_Equity, Series_Complete_65PlusPop_Pct_UR_Equity]
Index: []
Empty DataFrame

KeyboardInterrupt: ignored

In [ ]:
dfco.to_excel('/content/drive/MyDrive/Colab Notebooks/MOBILITY.xlsx')

In [ ]:
dfco.to_excel('US 2021 Mobility Report.xlsx')

NameError: ignored

In [ ]:
pd.read_excel('/content/US 2021 Mobility Report.xlsx')

In [ ]:
pip install plotly==4.5

Requirement already satisfied: plotly==4.5 in /usr/local/lib/python3.7/dist-packages (4.5.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.5) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.5) (1.15.0)

In [ ]:


import plotly
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import pandas as pd
df =pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Mobility 2021.xlsx',dtype={"fips": str})

import plotly.express as px

fig = px.choropleth(df,geojson = counties,locations='census_fips_code', color='retail_and_recreation_percent_change_from_baseline',
                           color_continuous_scale="Viridis",
                           range_color=(-10, 10),
                           scope="usa",
                           labels={'unemp':'unemployment rate'}
                          )
#fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()